
body{
  overflow-x: hidden;
}

body.ar{
  direction: rtl;
}

a{
  text-decoration: none;
}

.hidden{
  display: none;
}

/* the Map */
#the-map{
  width: 500px;
  
  margin: auto;
  height: 500px;
}

#the-map svg{
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);

  margin-left: -410px;
  margin-top: -410px;

}

ul#alphabet{
  list-style: none;
  text-align: center;
  direction: rtl;
}
ul#alphabet li{
  display: inline-block;
}
ul#alphabet li a{
  color: #333;
  display: block;
  margin: 5px 3px;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.2s ease-in;
  background: none;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  border: 1px solid #69ad08;
  
}
ul#alphabet a.active:hover{
  border: 1px solid rgba(56,0,0,0.65);
  color: #fff;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.5);
  background-color: #DF0024;
}
ul#alphabet li a.disable{
  color: #487706;
  cursor: default;
}